html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #181820;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: monospace;
  font-weight: 700;
  text-decoration: none;
  color: #d6edff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
