@import "./colors";
@import "./variables";

.container {
  padding: $space-large;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $phone) {
    flex-direction: column;
    justify-content: center;
    padding: $space-normal;
  }
}

// .logo {
//   border-radius: 50%;
// }

.headingItem {
  background-color: $dark;
  padding: $x1 $x4;
  border-radius: $x8;
  margin: 0;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  @media (max-width: $phone) {
    margin-bottom: $x2;
    display: flex;
    justify-content: center;
  }
}

.text {
  margin: 0;
}
