@import "./colors";
@import "./variables";

.container {
  display: flex;
  flex-direction: column;
  min-width: $tablet;
  max-width: $small;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    min-width: unset;
    max-width: unset;
  }
}
